@charset "utf-8";

/* Extension html page styles */
body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 500px;
  background-color: #f5da55;
  color: #323330;
  padding: 0 15px;
  border: 5px solid black;
}

div, p, h1 {
  margin: 10px 0;
}

/* Options */
.more-list {
  font-size: 12px;
}
.more-list a, .more-list a:visited {
  color: #323330;
}

/* Toggle Switch CSS */
.toggle-switch {
  display: block;
  width: 70px;
  height: 40px;
  background-color: #eee;
  border-radius: 40px;
  margin: 10px 0;
  padding: 5px;
}

#checkbox {
  visibility: hidden;  
}

.dot {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 30px;
  position: relative;
  left: 0;
  bottom: 25px;
  transition-property: left, background-color;
  transition-duration: 1s;
}

#checkbox:checked ~ .dot {
  left: 40px;
  background-color: green;
}

/* Disable JS Checkbox */
#disable-option {
  display: none;
}
#disable-option ~ label {
  padding-left: 1px;
}
#disable-option ~ label:before {
  font-family: FontAwesome;
  content: "\f096";
}
#disable-option:checked ~ label:before {
  font-family: FontAwesome;
  content: "\f046";
}

/* Timer */
#count-down {
  position: absolute;
  left: 125px;
  bottom: 85px;
}